html {
  line-height: 1.15;
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
main {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-height: 50vh;
  left: 10vw;
  bottom: 10vh;
  padding: 10px 18px;
  background: #00000099;
  color: #fff;
  border: 1px solid #ed6767;
}

p {
  font-size: 18px;
  line-height: 1em;
  margin: 0;
}

.hidden {
  display: none;
}
.invalid-input {
  color: #ea2100;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, #ed6767, #9198e5);
  border-radius: 10px;
  width: 3px;
}

@media screen and (min-width: 600px) {
  main {
    max-width: 30vw;
    left: auto;
    bottom: auto;
    top: 50px;
    right: 50px;
    flex-direction: column-reverse;
  }
  #options-ctr {
    margin-top: 20px;
    overflow-y: auto;
  }
}
#options-ctr {
  overflow-y: auto;
  padding: 1em;
}

#options-ctr:not(.active) {
  display: none;
}
#options-ctr .active {
  display: flex;
}

button {
  width: 100%;
  color: white;
  border: none;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  background-repeat: repeat;
  background: #ed6767;
}

button:not(.active) {
  background-size: 200%;
  background-image: linear-gradient(-35deg, #ed6767, #9198e5);
  animation: bg-pan-left 2s infinite;
  -webkit-animation: bg-pan-left 2s infinite;
}

button:focus {
  outline: none;
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

input[type='range'] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  background: none;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #ed6767;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #50555c;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #ed6767;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555c;
}
input[type='range']::-ms-fill-upper {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555c;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #ed6767;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #50555c;
}
input[type='range']:focus::-ms-fill-upper {
  background: #50555c;
}

.dual-slider {
  position: relative;
  height: 65px;
}
.dual-slider input {
  position: absolute;
  pointer-events: none;
}

.dual-slider input::-webkit-slider-thumb {
  position: relative;
  pointer-events: all;
  z-index: 1;
  -webkit-appearance: none;
}

.dual-slider input[type='range']::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
}

.dual-slider input[type='range']::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
}

.dual-slider input[type='range']::-moz-range-track {
  position: relative;
  z-index: -1;
}

.dual-slider input[type='range']:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.dual-slider input[type='range']::-moz-focus-outer {
  border: 0;
}
